@import './_variables'

.container
    background-color: $background-color
    width: 500px
    height: auto
    margin: 100px auto 0 // centralizando div pai
    padding: 2rem
    border-radius: 10px
        
